<h3> Pages </h3>

<% if (@pages != []) %>
  <% @pages.each do |page| %>
    <li><a href="/pages/<%= page.id %>"> <%= page.title || "Untitled" %> </a> <%= page.date %></li>
  <% end %>
<% else %>
  <p> Looks like you haven't started your focusjournal yet. Go to Today to start! </p>
<% end %>

