
<% if (@pages != []) %>
  <% @pages.each do |page| %>
    <div class="col-md-3">
      <div class="alert alert-info">
        <small><%= page.date %></small>
      <p><a href="/pages/<%= page.id %>"> <%= page.title || page.date.strftime("%A") %> </a></p>
      </div>
    </div>
  <% end %>
<% else %>
  <p> Looks like you haven't started your focusjournal yet. Go to Today to start! </p>
<% end %>

