
<div class="col-md-3">
  <div class="alert alert-success">
    <small> Today </small>
    <p><a href="/pages/new"> <%= @page.title || "New Page" %> </a></p>
  </div>
</div>


<% if (@pages != []) %>
  <% @pages.each do |page| %>
    <div class="col-md-3">
      <div class="alert alert-info">
        <small><%= page.date.strftime("%d-%m-%Y") %></small>
        <p><a href="/pages/<%= page.id %>"> <%= page.title || page.date.strftime("%A") %> </a></p>
      </div>
    </div>
  <% end %>
<% end %>

