<h1 id="title" contenteditable="true"><%= @title %> </h1>

<% @paragraphs.each do |paragraph| %>
  <div class="panel panel-borderless">
    <div class='para panel-body' id='para<%= paragraph.num %>'>
      <button class="todo btn-primary glyphicon glyphicon-exclamation-sign btn-xs pull-right"> </button>
      <button class="important btn-primary glyphicon glyphicon-pushpin btn-xs pull-right"> </button>
      <%=raw paragraph.body %>
    </div>
  </div>
<% end %>

<div class="chatbox">
  <textarea id='body' class='type form-control' rows='4'> </textarea>
</div>


<script>
$(document).ready(function(){
  $('html, body').animate( { scrollTop: $(document).height() }, 1000 );
  $('.type').focus();
});


$(function() {
  $("#title").keypress(function (e) {
    if(e.which == 13 ) {
      $.post( '/pages/add_title', { title: $(this).text() });
      $(this).blur();
      e.preventDefault();
    }
  });
});

$(function() {
  var elast;
  $("#body").keypress(function (e) {
    if(e.which == 13 && elast == 13) {
      $(".chatbox").before("<div class='panel panel-borderless'> <div class='para panel-body' id='para'> <button class='important btn-primary glyphicon glyphicon-exclamation-sign btn-xs pull-right'> </button> <button class='todo btn-primary glyphicon glyphicon-pushpin btn-xs pull-right'> </button>" +
          $(this).val().
          replace( /\n/g, '<br/>' ) + "</div></div>");
      $.post( '/pages/paragraph', { body: $(this).val()
        .replace( /\n/g, '<br/>')});
      $(this).val("");
      e.preventDefault();
    }
    elast = e.which;
  });
});

$(document).off('click', '.todo').on('click', '.todo', function () {
  var paraId = $(this).index('.todo') + 1;
  $.post('/pages/paragraph/todo/' + paraId);
});

$(document).off('click', '.important').on('click', '.important', function () {
  var paraId = $(this).index('.important') + 1;
  $.post('/pages/paragraph/important/' + paraId);
});
</script>
