<h3 id="title" contenteditable="true"><%= @title %> </h3>

<%= render @paragraphs %>

<div id="chatbox" class="chatbox">
  <textarea id='body' class='type form-control' rows='4'> </textarea>
</div>


<script>
var yesterday = new Date((new Date()).valueOf()-1000*60*60*24);

$('.todo').on('click', function() {
  var paraId = $(this).index('.todo') + 1;
  $(this).pickadate({
    disable: [ { from: [0,0,0], to: yesterday } ],
    onSet: function(what) {
      $.post('/pages/paragraph/todo/' + paraId, {
        date: new Date(what.select),
      })
    }
  })
})

$(document).off('click', '.important').on('click', '.important', function () {
  var paraId = $(this).index('.important') + 1;
  $.post('/pages/paragraph/important/' + paraId);
});
</script>
