<h3 id="title" contenteditable="true"><%= @title %> </h3>

<%= render @paragraphs %>

<div class="chatbox">
  <textarea id='body' class='type form-control' rows='4'> </textarea>
</div>


<script>
$(document).off('click', '.todo').on('click', '.todo', function () {
  var paraId = $(this).index('.todo') + 1;
  $.post('/pages/paragraph/todo/' + paraId);
});

$(document).off('click', '.important').on('click', '.important', function () {
  var paraId = $(this).index('.important') + 1;
  $.post('/pages/paragraph/important/' + paraId);
});
</script>
