<span  type='button' class="edit_button glyphicon glyphicon-pencil pull-left"> </span>
<h3 id="title" contenteditable="true">
  <%= @title %> </h3>
<%= render @paragraphs %>

<div id="chatbox" class="chatbox">
  <textarea id='body' class='type form-control' rows='4'> </textarea>
</div>

<script>

$(document).on('click', '.edit_button', function() {
  $("#title").focus();
  $("#title").html('');
});

$(document).off('click', '.important').on('click', '.important', function() {
  var paraId = $(this).index('.important') + 1;
  $.post('/pages/paragraph/important/' + paraId);
});

</script>
