<% @paragraphs.each do |para| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="main_body"> <%= raw para.body %> </p>
      <p class="small indent"> <a href="/pages/<%= para.page.id %>"> You wrote this <%= time_ago_in_words(para.created_at) %> ago... <span  type='button' class="glyphicon glyphicon-arrow-right"> </span> </a>
      </p>
    </div>
</div>
<% end %>
