// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.para {
  padding: 5px 0px 5px 0px;
  max-width: 87%;
  margin: auto;
}

.para:hover {
  background-color: #fafafa;
}

.btn-xs:focus {
  outline: none;
}

.chatbox {
  margin-bottom: 50px;
  max-width: 87%;
  margin: auto;
}

.panel-borderless {
  border: 0;
  box-shadow: none !important;
}

.pagehr {
  margin: 5px auto;
  max-width: 50%;
}

.pagehr:last-of-type {
  display: none;
}

.panel-borderless:hover .btn-xs {
  display: block !important;
}

.btn-xs {
  position: relative;
  margin-left: 2px;
  display: none !important;
  margin-top:3px;
}

.left-hand {
  margin-top:5px;
}

.panel-body {
  padding: 5px !important;
  line-height: 2em;
}

.panel {
  margin-bottom: 2px !important;
}

.chatbox {
  margin-top: 7px;
}
