// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_body {
  margin: 10px 30px;
}

.second {
  left: 28px;
  padding-left: 0px !important;
}

.list-group {
  max-width: 90%;
  margin: auto;
}

.list-group-item {
  margin-bottom: 15px !important;
}

.badge {
  margin: 1px 10px;
}

.icon {
  top: -16px !important;
  margin-left: 8px;
}

.todo_list {
  margin: 0 60px 0 106px !important;
}
