  <div class="panel panel-borderless">
    <div class='para panel-body' id='para<%= paragraph.num %>'>
      <button class="todo btn-primary glyphicon glyphicon-exclamation-sign btn-xs pull-right"> </button>
      <button class="important btn-primary glyphicon glyphicon-pushpin btn-xs pull-right"> </button>
      <%=raw paragraph.body %>
    </div>
  </div>
  <hr class="pagehr">
