<div class="panel panel-borderless">
  <button type='button' id='todo' class="left-hand todo btn-success glyphicon glyphicon-calendar btn-xs pull-left"> </button>
  <button type='button' class="left-hand important btn-warning glyphicon glyphicon-pushpin btn-xs pull-left"> </button>
  <div class='para panel-body' id='para<%= paragraph.num %>'>
    <label type='button' class="delete glyphicon glyphicon-remove btn-xs pull-right"> </label>
    <%=raw paragraph.body %>
  </div>
</div>
<hr class="pagehr">

